@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(255, 255, 0), 0 0 8px rgb(255, 255, 0); }
}

.message{
    color: green;
}

.vocaloid {
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    /* background: green; */
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    /* color: whitesmoke; */
    text-decoration: none;
  }