.myHeader{
    grid-column: 1/3;
  }

.divider{
  display: grid;
  grid-template-columns: 100px 1fr;
}
.currentUser{
  text-align: right;
}

.quitButton{
  cursor: pointer;
}

.myHeader img{
    height: 100px;
    width: 100px;
  }
