.myHeader{
    grid-column: 1/3;
  }

.authUserInfo{
  position: relative;
}

.showAdditionalUserData{
  position: absolute;
  right: 0px;
  bottom: 3px;
  background-color: yellow;
  border-radius: 7px;
}

.hideAdditionalUserData{
  position: absolute;
  display: none;
}

.divider{
  display: grid;
  grid-template-columns: 100px 1fr;
}
.currentUser{
  text-align: right;
}

.quitButton{
  cursor: pointer;
}

.myHeader img{
    height: 100px;
    width: 100px;
  }
