.mainmenu{
    background-color: darkgray;
    text-align: center;
}

.item a{
    text-decoration: none;
}

.item:hover a{
    display: block;
    color: aquamarine;
    background-color: rgb(98, 100, 93);
}

.item a:hover{
    color: aquamarine;
}

a.active{
    display: block;
    background-color: darkgreen;
}


