@-webkit-keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(255, 0, 0), 0 0 8px rgb(255, 0, 0); }
}
@keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px rgb(0, 60, 255), 0 0 8px rgb(102, 255, 0); }
}

.dialog{
  color: green;
}
.dialog a{
  color: orange;
  text-decoration: none;
}
.vocaloid a{
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  /* background: green; */
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  /* color: whitesmoke; */
  text-decoration: none;
}

